/*COLORS*/
$color-primary: #FFEA61;
$color-secondary: #FFDD3C;
$color-tertiary:#FFD400;


$color-white:#fff;
$color-dark-grey:#777;
$color-dark-grey-1:#999;
$color-dark-grey-2:#333;

$color-light-grey:#f7f7f7;

$default-font-size:1.7rem;